.open {
    border-radius: 0;
} 
body {
    margin: 0;
    box-sizing: border-box;
    background-color: lightyellow;
    padding: 1rem;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 0.5rem 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header "
    "div1 branch div2 div3"
    "div4 branch div5 div6"
    "div7 branch div8 div9"
    "div10 branch div11 div12";
}

.top {
    margin-top: 2rem;
}
.header {
    grid-area: header;
    background: rgb(65, 168, 110);
    height: 5rem;
    display: flex;
    justify-content: right;
    text-align: right;
    align-items: center;
    border-radius: 1rem;
    border: 0.3rem solid rgb(35, 107, 13);
}
.branch {
    grid-area: branch;
    width: 0.5rem;
    background-color: rgb(35, 107, 13);
    opacity: 0.8;
}
.leaf1 {
    width: 100%;
    border-radius: 0 20rem 0 20rem;
    opacity: 0.8;

}
.leaf2 {
    width: 100%;
    border-radius: 20rem 0 20rem 0;
    opacity: 0.8;

}
.text {
    margin-left: 2rem;
}
