body {
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header header"
    " main main main main"
    "main main main main main"; 
}

.header {
    grid-area: header;
    background-color: plum;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main {
    grid-area: main;
    background-color: turquoise;
}
